/* MAIN */

/* Герой */

// mobile
.hero-overlay {
  padding: 118px 60px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero-mob.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: 480px 400px ;

  background-color: var(--secondary-background-color);
 
}
// retina
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi) and (min-width: 320px),
screen and (min-resolution: 2dppx) and (min-width: 320px) {
      .hero-overlay {
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-mob@2x.jpg");
      }
}

.hero {
  text-align: center;
}

.hero__text {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.056em;
  text-transform: uppercase;

  color: var(--primary-background-color);
}

.hero__btn {
display: inline-block;
min-width: 200px;

padding: 10px 32px;
margin-top: 30px;

border: 1px solid transparent;
border-radius: 4px;
cursor: pointer;

font-weight: bold;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;

background-color: var(--accent-color);
color: var(--primary-background-color);
}


// tablet
@media screen and (min-width:768px) {
  .hero-overlay {
    padding-right: 204px;
    padding-left: 204px;

    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero-tab.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 768px 400px ;
    }
}
// retina
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi) and (min-width: 480px),
screen and (min-resolution: 2dppx) and (min-width: 480px) {
      .hero-overlay {
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-tab@2x.jpg");
      }
}

// desktop
@media screen and (min-width:1200px) {    

      .hero-overlay {
        padding-top: 200px;
        padding-right: 452px;
        padding-bottom: 280px;
        padding-left: 452px;

        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/hero/hero-75.jpg");

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        background-color: var(--secondary-background-color);
      }
        
    
      .hero__text {
        font-size: 44px;
        line-height: 1.36;
      }        

// retina
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
  
      .hero-overlay {
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-75@2x.jpg");
      }
}
}