// /* socials-footer */


/* socials-footer */

.socbox {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-left: 165px;
    
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 93px;
    margin-left: 0;
  }
}
.socbox__list {
display: flex;
justify-content: center;

padding: 0;
margin-top: 20px;

background-color: var(--secondary-background-color);
}

.socbox__item {
margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.socbox__link {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

display: flex;
justify-content: center;
align-items: center;

width: 44px;
height: 44px;
padding: 0;

border-radius: 50%;

background-color: var(--socials-footer);
color: var(--primary-background-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.socbox__icon {
fill: currentColor;
}

.socbox__slogan {
width: 145px;
margin: 0 auto;

font-weight: bold;
font-size: 14px;
line-height: 1.172;
text-transform: uppercase;

color: var(--primary-background-color);
@media screen and (min-width: 1200px) {
  margin: 0;
}
}
